.zebra-list {
  padding: 0;
  width: 100%;
}

.zebra-list__item {
  background-color: $color-green;
  padding: 20px 10px;

  &:nth-child(odd) {
    background-color: $color-blue;
    color: white;
  }
}
