
.container {
  @include clearfix;

  padding: 30px 20px;
  width: 100%;
}

.column {
  float: left;
  margin-bottom: 20px;
  transition: all .5s ease-in;
  width: 100%;

  @include breakpoint(medium) {
    width: 50%;

    &:nth-child(odd) {
      clear: left;
      padding-right: 10px;
    }

    &:nth-child(even) {
      padding-left: 10px;
    }
  }

  @include breakpoint(large) {
    padding: 0 10px;
    width: 25%;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &:nth-child(odd) {
      clear: none;
    }
  }
}
