
.container {
  @include clearfix;
  padding: 30px 20px;
  width: 100%;
}

.column {
  float: left;
  width: 100%;

  @include breakpoint(medium) {
    width: 50%;

    &:nth-child(odd) {
      clear: left;
      padding-right: 10px;
    }

    &:nth-child(even) {
      padding-left: 10px;
    }
  }

  @include breakpoint(large) {
    width: 25%;
    padding: 0 10px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &:nth-child(odd) {
      clear: none;
    }
  }
}
