
.container {
  @include clearfix;
  padding: 30px 20px;
  width: 100%;
}

.column {
  float: left;
  width: 100%;

  @include breakpoint(medium) {
    width: 50%;

    &:nth-child(odd) {
      clear: left;
    }
  }

  @include breakpoint(large) {
    width: 25%;

    &:nth-child(odd) {
      clear: none;
    }
  }
}
