//viewport
$medium-viewport: 520px;
$large-viewport: 1025px;

//colors
$color-blue: #65aecd;
$color-grey-dark: #777;
$color-grey: #e5e5e5;
$color-green: #74d1ae;
$color-rose: #fca0ab;
$color-white: #fff;
$color-black: #000;

$shadow: 0 3px 5px 0 rgba(0, 0, 0, .35);
